.container__search{
    margin-top: 65.89px;
}
.contenido__search{
    font-family: 'Roboto';
    color: var(--morado);
    transition: all 0.5s ease-in-out;
}
.contenido__search.dark h1,
.container__search.dark h2{
    color: white;
    transition: all 0.5s ease-in-out;
}
.imagen__search{
    margin-top: 14px;
}
.container__cardresults{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container__cardresults.light{
    background-color: var(--gris);
    transition: all 0.5s ease-in-out;
    margin-bottom: 40px;
}
.container__cardresults.dark{
    background-color: var(--backgroundList);
    transition: all 0.5s ease-in-out;
}
.container__search h2{
    color: var(--morado);
    margin: 79px 0 31px 0;
    transition: all 0.5s ease-in-out;
}
.lista__autocomplete{
    position: relative;
    left: 0;
    top: 0;
}
.lista__autocomplete:hover{
    background-color: thistle;
}
.formulario__busqueda{
    width: 542px;
    height: 52px;
    margin: 0 auto;
}
.contenido__formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
}
.contenido__formulario input[type="text"]{
    width: 450px;
    height: 51px;
    border-radius: 61px 0 0 61px;
    border: 1px solid #121212;
    padding: 0 0 0 20px;
    outline: none;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}
.contenido__formulario.dark input[type="text"]{
    background-color: var(--backgroundBody);
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}
.contenido__formulario button{
    width: 86px;
    height: 52px;
    border-radius: 0 61px 61px 0;
    border: 1px solid #121212;
    border-left: none;
    background-color: var(--morado);
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.contenido__formulario.dark button{
    border: 1px solid white;
    border-left: none;
    transition: all 0.5s ease-in-out;
}